# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
telemetry.db

# Node
node_modules/
dist/
.DS_Store

# OS files
*.log
*.tmp
# Security certificates and runtime databases
backend/certs/*.pem
backend/db.sqlite
backend/drone_log.db
